<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Smart Bin{% endblock %}</title>
    {% block headerLinks %}
    {% endblock %}

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    {% load static %}
    <header>
        <nav class="bg-white border-indigo-200 px-4 lg:px-6 py-2.5 dark:bg-indigo-800">
            <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
                <a href="{% url 'home' %}" class="flex items-center">
                    <img src="https://www.nicepng.com/png/detail/11-116054_download-recycle-logo-png-blue.png"
                        class="mr-3 h-6 sm:h-9" alt="Smart Bin Logo" />
                    <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Smart Bin</span>
                </a>
                <div class="flex items-center lg:order-2">
                    {% if user.is_authenticated %}
                    <a href="{% url 'dashboard' %}"
                        class="text-indigo-800 dark:text-white hover:bg-indigo-50 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">Home</a>
                    <a href="{% url 'add_bin' %}"
                        class="text-indigo-800 dark:text-white hover:bg-indigo-50 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">Add
                        Bin</a>
                    <a href="{% url 'logout' %}"
                        class="text-white bg-indigo-500 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">Log
                        out</a>
                    {% else %}
                    <a href="{% url 'home' %}"
                        class="text-indigo-800 dark:text-white hover:bg-indigo-50 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">Home</a>
                    <a href="{% url 'login' %}"
                        class="text-white bg-indigo-500 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800">Log
                        in</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
    {% block script %}
    {% endblock %}
</html>