{% extends 'base.html' %}

{% block title %}See you!{% endblock %}

{% block content %}
<!-- component -->

<section class="py-24 flex items-center min-h-[400px] justify-center bg-white">
  <div class="mx-auto max-w-[43rem]">
    <div class="text-center">
      <p class="text-lg font-medium leading-8 text-indigo-600/95">Logged out...</p>
      <h1 class="mt-3 text-[3.5rem] font-bold leading-[4rem] tracking-tight text-black">You have been successfully
        logged out.</h1>
      <p class="mt-3 text-lg leading-relaxed text-slate-400">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Soluta dicta cum exercitationem suscipit ea officia esse aliquam neque commodi voluptatem!</p>
    </div>

    <div class="mt-6 flex items-center justify-center gap-4">
      <a href="{% url 'login' %}"
        class="transform rounded-md bg-indigo-600/95 px-5 py-3 font-medium text-white transition-colors hover:bg-indigo-700">Login
        Again</a>
      <a href="{% url 'home' %}"
        class="transform rounded-md border border-slate-200 px-5 py-3 font-medium text-slate-900 transition-colors hover:bg-slate-50">
        Go to Home </a>
    </div>
  </div>
</section>

{% endblock %}