{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<!-- component -->
<div class="w-full min-h-[600px] bg-gray-50 flex flex-col sm:justify-center items-center pt-0 sm:pt-0">
  <div class="w-full sm:max-w-md p-0 mx-auto">
    <h2 class="mb-7 text-center text-5xl font-extrabold">Welcome.</h2>
    <div class="text-center text-[16px] pb-5 text-red-600 font-semibold">
      {{ form.non_field_errors }}
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="mb-4">
        <label class="block mb-1" for="username">Username:</label>
        <input id="username" type="text" name="username" required
          class="py-2 px-3 border border-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        {{ form.username.errors}}
      </div>
      <div class="mb-4">
        <label class="block mb-1" for="password">Password:</label>
        <input id="password" type="password" name="password" required
          class="py-2 px-3 border border-gray-300 focus:border-indigo-300 focus:outline-none focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />

      </div>
      <div class="mt-6 flex items-center justify-between">
        <div class="flex items-center">
          <input id="remember_me" type="checkbox"
            class="border border-gray-300 text-indigo-600 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" />
          <label for="remember_me" class="ml-2 block text-sm leading-5 text-gray-900"> Remember me </label>
        </div>
        <a href="#" class="text-sm"> Forgot your password? </a>
      </div>
      <div class="mt-6">
        <button
          class="w-full inline-flex items-center justify-center px-4 py-2 bg-indigo-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-indigo-700 active:bg-indigo-700 focus:outline-none focus:border-indigo-700 focus:ring focus:ring-indigo-200 disabled:opacity-25 transition">Sign
          In</button>
      </div>
      <div class="mt-6 text-center">
        <a href="#" class="underline">Sign up for an account</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}